<div>
    {% if page.goback %}
    <div class="back-container">
        <a href="{{site.site_url}}/{{ page.parent_url }}" class="back-link arrow" style="color: #8B008B">Jít zpět</a>
        <a href="{{site.site_url}}" class="gohome-link" style="color: #8B008B">
            <img src="/favicon.ico" alt="Logo">
        </a>
        <div class="back-link"></div>
    </div>
    {% else %}
        <a href="{{site.site_url}}" style="color: #8B008B;display: block;margin: 0 auto;text-align: center;">
            <img src="/favicon.ico" alt="Logo">
        </a>
    {% endif %}

    <h1>{{ page.category }}</h1>
    <a class="github-link" href="{{ site.github_repository_url }}/blob/{{ site.github_repository_nwo }}/{{ page.path }}" title="GitHub">
        <img src="{{site.site_url}}/assets/images/github_icon.svg">
        <span>View this page on github</span>
    </a>
    {{ content | toc_only }}
</div>
