<div>
    {% if page.goback %}
    <div class="back-container">
        <a href="{{site.site_url}}/{{ page.parent_url }}" class="back-link arrow">Jít zpět</a>
        <div class="favicon">
            <a href="{{site.site_url}}" class="gohome-link">
                <img src="/favicon.ico" alt="Logo">
            </a>
        </div>
    </div>
    {% else %}
            <a href="{{site.site_url}}" class="gohome-link">
                <img src="/favicon.ico" alt="Logo">
            </a>
    {% endif %}

    <h1>{{ page.category }}</h1>
    <a class="github-link" href="{{ site.github_repository_url }}/blob/{{ site.github_repository_nwo }}/{{ page.path }}" title="GitHub">
        <img src="{{site.site_url}}/assets/images/github_icon.svg">
        <span>View this page on github</span>
    </a>
    {{ content | toc_only }}
</div>
