.testbutton {
    background-color: #B8860B;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 2em;
}

.emptydiv {

}

.textdiv {

}

.mainButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}