.testbutton {
    background-color: #B8860B;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 2em;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  margin-right: auto; /* push image towards the center */
  margin-left: auto;
  display: grid;
}

.textdiv {
  flex-basis: 0;
  flex-wrap: wrap;
  font-size: 3.33em;
  flex-grow: 2;
  display: flex;
  line-height: 1em;
  justify-content: left;
  align-items: center;
  padding-right: 25px;
  padding-bottom: 25px;

}

.mainButtonContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}