body {
    background-color: #000;
    color: #c4c4c4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

h1 {
  margin-bottom: 0 !important;
}

*:not(ul) > ul > ul{
  list-style: square;
}
*:not(ul) > ul > ul ul{
  list-style: disc;
}
/*toc*/
.toc__list:before {
 content: "Obsah";
 font-weight: bold;
 margin-left: -1.5rem;
 font-size: 1.5rem;
}

.toc__list {
 line-height: 1.8rem;
 padding: 1rem 1.5rem;
 font-weight: 600;
}

.toc__sublist li {
 padding-left: 1.25rem;
}

.toc-h2:first-child {
 margin-top: 0rem;
}  

#toc a {
 color: hsl(180, 45%, 58%);
 /*#A81451*/
 /*#800020*/
 /*#B8860B*/
 text-decoration: none;
}

#toc a:hover {
 color: hsl(180, 65%, 48%);
 /*#A81451*/
 /*#800020*/
 /*#B8860B*/
}

/*github link button*/
a.github-link:hover {
  text-decoration: none;
  border-radius: 0.3em;
  background-color: hsl(251.5, 88.7%, 10.4%);
}
a.github-link:focus {
  outline: none;
}
a.github-link {
  font-family: Ubuntu;
  font-size: 1.5rem;
  font-weight: 750;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.3em;
  padding: 0.15em 0.6em;
  box-sizing: border-box;
  width: calc(100% - 1em);
  align-self: center;
  border-radius: 0.75em;
  text-decoration: none;
  color: hsl(215, 100%, 95%);
  transition: border-radius 0.2s;
  background-color: hsl(0, 0%, 0%);
  border: rgb(33, 2, 118) solid 2px;
}

a.github-link span {
  display: block;
  margin-left: 0.5em;
  font-family: Gantari;
  text-decoration: none;
}

a.github-link img {
  filter: invert(97%) sepia(96%) saturate(2553%) hue-rotate(178deg) brightness(105%) contrast(108%);
  order: -1;
  margin-right: 0.5em;
}