@font-face {
    font-family: "Ubuntu";
    src: url("{{site.site_url}}/assets/fonts/ubuntu-regular.ttf");
}

@font-face {
    font-family: "Gantari";
    src: url("{{site.site_url}}/assets/fonts/gantari-regular.ttf");
}
body {
    background-color: #1e1e1e;
    color: #c4c4c4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

a.github-link span {
  display: block;
  margin: auto auto;
  font-family: Gantari;
  text-decoration: none;
}

a.github-link {
  font-family: Ubuntu;
  font-size: 1.5rem;
  font-weight: 750;
  text-align: center;
  display: flex;
  margin: 0.3em;
  padding: 0.15em 0.6em;
  box-sizing: border-box;
  width: calc(100% - 1em);
  align-self: center;
  border-radius: 0.75em;
  text-decoration: none;
  color: hsl(215, 100%, 95%);
  transition: border-radius 0.2s;
  background-color: hsl(0, 0%, 0%);
}

a.github-link:hover {
  border-radius: 0.3em;
  background-color: rgb(90, 34, 139);;
}

a.github-link img {
  filter: invert(97%) sepia(96%) saturate(2553%) hue-rotate(178deg) brightness(105%) contrast(108%);
}